
.portfolio{
    display: block;
    

}
.portfolio__firstJob{
    display: flex;
   position: relative;
   top:60px;
   height: 45em;
   border-top-right-radius: 220px;
   border-bottom-right-radius: 220px;
  
}
.portfolio__secondJob{
    display: flex;
    position: relative;
    top:80px;
}
.portfolio__threeJob{
    display: flex;
    position: relative;
    top:180px;
}

.portfolio__firstJob__title{
    color: rgb(21, 32, 41);
    position: relative;
    height: 20px;
    left: 50px;
    top: 300px;
    font-family: 'Ram Sans Expanded', sans-serif;
    background-color: rgba(45, 192, 192, 0);                                            
    font-weight:600;
    box-shadow: 0px 2px 4px 3px rgba(33, 87, 100, 0.507);
    box-shadow: 0px -6px 30px 10px rgba(33, 87, 100, 0.74);
    width: 12%;
}
.portfolio__firstJob__Secondtitle{
    color: rgb(21, 32, 41);
    position: relative;
    height: 20px;
    left: 50px;
    top: 300px;
    font-family: 'Ram Sans Expanded', sans-serif;
    background-color: rgba(45, 192, 192, 0);                                            
    font-weight:600;
    box-shadow: 0px -6px 30px 10px rgba(175, 18, 18, 0.616);
    width: 12%;
}

.portfolio__firstJob__Threetitle{
    color: rgb(21, 32, 41);
    position: relative;
    height: 20px;
    left: 50px;
    top: 300px;
    font-family: 'Ram Sans Expanded', sans-serif;
    background-color: rgba(45, 192, 192, 0);                                            
    font-weight:600;
    width: 12%;
    box-shadow: 0px -6px 30px 10px rgba(143, 122, 31, 0.507);
}
.portfolio__firstJob-description{
    display: block;
    color: #000303;
    background-color: rgba(98, 33, 100, 0.123);
    position: relative;
    top: 3px;
}
.portfolio__fistJob_firstSlide-card{
position: relative;
top: 70px;
left: 120px;
 background-color: aliceblue;
 height: 600px;
 width: 400px;
 box-shadow: 0px 0px 3px 6px rgba(0, 0, 0, 0.39);
}
.portfolio__fistJob_firstSlide-card img{
 object-fit:cover;
 width:100%;
 height:100%;
   
    }
.portfolio__firstJob_secondSlide-card{
position: relative;
z-index: -1;
top: 30px;
left: 70px;
 background-color: aliceblue;
 height: 600px;
 width: 400px;
 box-shadow: 0px 0px 3px 6px rgba(0, 0, 0, 0.39);
}

.portfolio__firstJob_secondSlide-card img{
    object-fit: cover;
    width:100%;
    height:100%;
}

.portfolio__fistJob_threeSlide-card{
    position: relative;
    top: 90px;
    left: 40px;
     background-color: aliceblue;
     height: 600px;
     width: 400px;
     box-shadow: 0px 0px 3px 6px rgba(0, 0, 0, 0.39);
    }
    .portfolio__fistJob_threeSlide-card img{
  
        object-fit: cover;
        width: 100%;
        height: 100%;
       
        }
        .portfolio__firstJob_fourSlide-card{
            position: relative;
            z-index: -1;
            top: 50px;
            left: 0px;
             background-color: aliceblue;
             height: 600px;
             width: 400px;
             box-shadow: 0px 0px 3px 6px rgba(0, 0, 0, 0.39);
             box-sizing: border-box;
           
            }
            
            .portfolio__firstJob_fourSlide-card img{
                object-fit: cover;
                width:100%;
                height:100%;
            }
            .portfolio__fistJob_firstSlide-card-landing{
            position: relative;
            top: 70px;
            left: 120px;
             background-color: aliceblue;
             height: 600px;
             width: 400px;
             box-shadow: 0px 0px 3px 6px rgba(0, 0, 0, 0.39);
            }
            .portfolio__fistJob_firstSlide-card-landing img{
                object-fit: fill;
                width:100%;
                height:100%;
                position: relative;
                left: 0px;
            }
            .Separador{
                background: radial-gradient(circle at 100%, #235e70, #5f3838 50%, #eee 75%, #f7f7f7 75%);
                width: 100%;
                height: 3px;
                position: relative;
                top: 80px;
            }
            .Separador-2{
                background: radial-gradient(circle at 100%, #235e70, #5f3838 50%, #eee 75%, #f7f7f7 75%);
                width: 100%;
                height: 3px;
                position: relative;
                top: 190px;
            }
@media (max-width:960px){

    .portfolio{
width:100%;
    }
    .portfolio__fistJob_firstSlide-card,.portfolio__firstJob_secondSlide-card,.portfolio__fistJob_threeSlide-card,.portfolio__firstJob_fourSlide-card{
        height: 20em;
    }
    .portfolio__firstJob{
        width: 55em;
        height: 26em;
    }.portfolio__secondJob{
        width: 55em;
    }
    .portfolio__threeJob{
        width: 55em;
    }
    .portfolio__firstJob__title{
     

        position: relative;
        left: 50px;
        top: 100px;
        width: 80%;

    }
    .portfolio__firstJob__Secondtitle{
        position: relative;
        left: 50px;
        top: 100px;
        width: 80%;
    }
    .portfolio__firstJob__Threetitle{
        position: relative;
        left: 50px;
        top: 100px;
        width: 80%;
    }
        }            
        @media (max-width:800px){

            .portfolio{
        width: 100;
            }
            .portfolio__fistJob_firstSlide-card,.portfolio__firstJob_secondSlide-card,.portfolio__fistJob_threeSlide-card,.portfolio__firstJob_fourSlide-card{
                height: 18em;
          
            }
            .portfolio__firstJob{
                width: 45em;
                height: 26em;
            }.portfolio__secondJob{
                width: 45em;
            }
            .portfolio__threeJob{
                width: 45em;
            }
            .portfolio__firstJob__title{
             
        
                position: relative;
                left: 50px;
                top: 50px;
                width: 80%;
        
            }
            .portfolio__firstJob__Secondtitle{
                position: relative;
                left: 50px;
                top: 50px;
                width: 80%;
            }
            .portfolio__firstJob__Threetitle{
                position: relative;
                left: 50px;
                top: 100px;
                width: 80%;
            }
                }            
  @media (max-width:728px){

            .portfolio{
        width: 100%;
            }
            .portfolio__fistJob_firstSlide-card,.portfolio__firstJob_secondSlide-card,.portfolio__fistJob_threeSlide-card,.portfolio__firstJob_fourSlide-card{
                height: 18em;
          
            }
            .portfolio__firstJob{
                width: 42em;
                height: 26em;
            }.portfolio__secondJob{
                width: 42em;
                height: 26em;
            }
            .portfolio__threeJob{
                width: 42em;
            }
           
            .portfolio__firstJob__title{     
                position: relative;
                left: 50px;
                top: 50px;
                width: 80%;
        
            }
            .portfolio__firstJob__Secondtitle{
                position: relative;
                left: 50px;
                top: 50px;
                width: 80%;
            }
            .portfolio__firstJob__Threetitle{
                position: relative;
                left: 50px;
                top: 100px;
                width: 80%;
            }
                }                           

   @media (max-width:680px){

  
            .portfolio__fistJob_firstSlide-card,.portfolio__firstJob_secondSlide-card,.portfolio__fistJob_threeSlide-card,.portfolio__firstJob_fourSlide-card{
                height: 25em;
          
            }
            .portfolio__firstJob{
                display: inline;
                width: 42em;
                height: 26em;
            }
            .portfolio__secondJob{
                display: inline;
                width: 42em;
                height: 26em;
                top: 20em;
            }
            .portfolio__threeJob{
                display: inline;
                width: 42em;
                top: 35em;
            }
            .portfolio__fistJob_firstSlide-card{
            position: relative;
            top: 70px;
            left: 120px;
      
            }
            .portfolio__firstJob_secondSlide-card{
                position: relative;
                top: 80px;
                left: 120px;
             }

             .portfolio__fistJob_threeSlide-card{
                position: relative;
                top: 90px;
                left: 120px;
             }
             .portfolio__firstJob_fourSlide-card{
                position: relative;
                top: 100px;
                left: 120px;
             }
          
           
            .portfolio__firstJob__title{     
                position: relative;
                left: 50px;
                top: -30px;
                width: 80%;
        
            }
            .portfolio__firstJob__Secondtitle{
                    position: relative;
                    left: 50px;
                    top: -60px;
                width: 80%;
            }
            .portfolio__firstJob__Threetitle{
                position: relative;
                left: 50px;
                top: -40px;
                width: 80%;
            }
            .Separador{
               
                position: relative;
                top: 200px !important;
            }
            .Separador-2{
               
                position: relative;
                top: 480px !important;
            }
                }                   
 @media (max-width:430px){

    
            .portfolio__fistJob_firstSlide-card,.portfolio__firstJob_secondSlide-card,.portfolio__fistJob_threeSlide-card,.portfolio__firstJob_fourSlide-card{
                height: 25em;
          
            }
            .portfolio__firstJob{
                display: inline;
                width: 42em;
                height: 26em;
                left:0px;
            }
            .portfolio__secondJob{
                display: inline;
                width: 42em;
                height: 26em;
                top: 20em;
            }
            .portfolio__threeJob{
                display: inline;
                width: 42em;
                top: 35em;
            }
            .portfolio__fistJob_firstSlide-card{
            position: relative;
            top: 135px;
            left: 15px;
      
            }
            .portfolio__firstJob_secondSlide-card{
                position: relative;
                top: 140px;
                left: 15px;
             }

             .portfolio__fistJob_threeSlide-card{
                position: relative;
                top: 145px;
                left: 15px;
             }
             .portfolio__firstJob_fourSlide-card{
                position: relative;
                top: 150px;
                left: 15px;
             }
          
           
            .portfolio__firstJob__title{     
                position: relative;
                left: 50px;
                top: -30px;
                width: 80%;
        
            }
            .portfolio__firstJob__Secondtitle{
                    position: relative;
                    left: 50px;
                    top: -80px;
                width: 80%;
            }
            .portfolio__firstJob__Threetitle{
                position: relative;
                left: 50px;
                top: -40px;
                width: 80%;
            }
            .Separador{
               
                position: relative;
                top: 200px !important;
            }
            .Separador-2{
               
                position: relative;
                top: 480px !important;
            }
                }         
                @media (max-width:414px){

    
        
            .portfolio__firstJob{
                display: inline;
                width: 42em;
                height: 26em;
                left:0px;
            }
            .portfolio__secondJob{
                display: inline;
                width: 42em;
                height: 26em;
                top: 20em;
            }
            .portfolio__threeJob{
                display: inline;
                width: 42em;
                top: 35em;
            }
            .portfolio__fistJob_firstSlide-card{
            position: relative;
            top: 135px;
            left: 5px;
      
            }
            .portfolio__firstJob_secondSlide-card{
                position: relative;
                top: 140px;
                left: 5px;
             }

             .portfolio__fistJob_threeSlide-card{
                position: relative;
                top: 145px;
                left: 5px;
             }
             .portfolio__firstJob_fourSlide-card{
                position: relative;
                top: 150px;
                left: 5px;
             }
          
           
            .portfolio__firstJob__title{     
                position: relative;
                left: 50px;
                top: -30px;
                width: 80%;
        
            }
            .portfolio__firstJob__Secondtitle{
                    position: relative;
                    left: 50px;
                    top: -80px;
                width: 80%;
            }
            .portfolio__firstJob__Threetitle{
                position: relative;
                left: 50px;
                top: -40px;
                width: 80%;
            }
            .Separador{
               
                position: relative;
                top: 200px !important;
            }
            .Separador-2{
               
                position: relative;
                top: 480px !important;
            }
                }         
  @media (max-width:384px){    
    .portfolio__fistJob_firstSlide-card{
        position: relative;
        top: 150px;
        left: 0px;
  
        }
        .portfolio__firstJob_secondSlide-card{
            position: relative;
            top: 155px;
            left: 0px;
         }

         .portfolio__fistJob_threeSlide-card{
            position: relative;
            top: 160px;
            left: 0px;
         }
         .portfolio__firstJob_fourSlide-card{
            position: relative;
            top: 165px;
            left: 0px;
         }
         .portfolio__firstJob__title{     
            position: relative;
            left: 30px;
            top: -30px;
            width: 80%;
    
        }
        .portfolio__firstJob__Secondtitle{
                position: relative;
                left: 30px;
                top: -80px;
            width: 80%;
        }
        .portfolio__firstJob__Threetitle{
            position: relative;
            left: 30px;
            top: -40px;
            width: 80%;
        }
       }                               