
.portfolio2{
    display: block;
    position: relative;
    top: 80px;
}
.portfolio2__firstJob{
    display: flex;
   position: relative;
   bottom:20px;
   height: 48em;
   justify-content: space-around;
   width: 85%;
   left: 120px;
}
.portfolio2__firstJob-2{   
    display: flex;
    position: relative;
    bottom:330px;
    height: 48em;

    justify-content: space-around;
    width: 85%;
    left: 250px;  
                    }
  .portfolio2__firstJob-3{
 display: flex;
 position: relative;
 bottom:350px;
  height: 48em;
   justify-content: space-around;
   width: 85%;
   left: 140px;
             }
 .portfolio2__firstJob-4{   
   display: flex;
  position: relative;
 bottom:660px;
 height: 48em;
 justify-content: space-around;
  width: 80%;
  left: 290px;  
               }
.portfolio2__firstJob-5{
  display: flex;
  position: relative;
  bottom:680px;
  height: 48em;
  justify-content: space-around;
  width: 80%;
  left: 180px;
   }
.portfolio2__firstJob-6{   
 display: flex;
 position: relative;
 bottom:990px;
 height: 45em;
 justify-content: space-around;
 width: 80%;
 left: 290px;  
                     }
 .portfolio2__firstJob-2 div ,.portfolio2__firstJob-4 div,.portfolio2__firstJob-6 div{
        transform: rotate(0deg);
                          }
.portfolio2__firstJob img ,.portfolio2__firstJob-2 img ,.portfolio2__firstJob-3 img ,.portfolio2__firstJob-4 img ,.portfolio2__firstJob-5 img ,.portfolio2__firstJob-6 img{
        object-fit:fill;
        box-sizing:content-box;
        width:100%;
        height:100%; 
}
.portfolio2__firstJob-title{
    color: rgb(35, 48, 58);
    position: relative;
    height: 20px;
    right: 80px;
    top: 300px;
    font-family: 'Ram Sans Expanded', sans-serif;
    background-color: rgba(45, 192, 192, 0);                                            
    font-weight:600;
    box-shadow: 0px -6px 30px 10px rgba(98, 33, 100, 0.74);
    width: 18%;
}
.portfolio2__firstJob2-title{
    color: rgb(35, 48, 58);
    position: relative;
    height: 20px;
    right: 80px;
    top: 300px;
    font-family: 'Ram Sans Expanded', sans-serif;
    background-color: rgba(45, 192, 192, 0);                                            
    font-weight:600;
    box-shadow: 0px -6px 30px 10px rgba(172, 6, 48, 0.74);
    width: 18%;
}
.portfolio2__firstJob3-title{
    color: rgb(35, 48, 58);
    position: relative;
    height: 20px;
    right: 80px;
    top: 300px;
    font-family: 'Ram Sans Expanded', sans-serif;
    background-color: rgba(45, 192, 192, 0);                                            
    font-weight:600;
    box-shadow: 0px -6px 30px 10px rgba(83, 88, 3, 0.74);
    width: 18%;
}
.portfolio2__firstJob-description{
    display: block;
    color: #000303;
    background-color: rgba(98, 33, 100, 0.123);
    position: relative;
    top: 3px;
}
.portfolio2__firstJob2-description{
    display: block;
    color: #000303;
    background-color: rgba(98, 33, 100, 0.123);
    position: relative;
    top: 3px;
}
.portfolio2__firstJob3-description{
    display: block;
    color: #000303;
    background-color: rgba(98, 33, 100, 0.123);
    position: relative;
    top: 3px;
}
.portfolio2__secondJob__Secondtitle{
    color: rgb(21, 32, 41);
    position: relative;
    height: 20px;
    left: 0px;
    top: 300px;
    font-family: 'Ram Sans Expanded', sans-serif;
    background-color: rgba(45, 192, 192, 0);                                            
    font-weight:600;
    box-shadow:0px -6px 30px 10px rgba(143, 31, 31, 0.507);
}
.portfolio2__firstJob-firstSlide{
position: relative;
top: 60px;
left: 80px;
 background-color: aliceblue;
 height: 400px;
 width: 400px;
 box-shadow: 0px 0px 3px 6px rgba(0, 0, 0, 0.39);
 transform: rotate(-8deg);
}
.portfolio2__firstJob-secondSlide{
position: relative;
z-index: -1;
top: 30px;
left: 70px;
 background-color: aliceblue;
 height: 400px;
 width: 400px;
 box-shadow: 0px 0px 3px 6px rgba(0, 0, 0, 0.39);
 transform: rotate(8deg);
}
.portfolio2__firstJob-threeSlide{
    position: relative;
    top: 90px;
    left: 40px;
     background-color: aliceblue;
     height: 400px;
     width: 400px;
     box-shadow: 0px 0px 3px 6px rgba(0, 0, 0, 0.39);
     transform: rotate(-8deg);
    }

  .portfolio2__firstJob-fourSlide{
 position: relative;
z-index: -1;
 top: 50px;
left: 0px;
  background-color: aliceblue;
  height: 400px;
  width: 400px; 
  box-shadow: 0px 0px 3px 6px rgba(0, 0, 0, 0.39);
  box-sizing: border-box;
  transform: rotate(8deg);
  }
            

  .Separador{
     background: radial-gradient(circle at 100%, #235e70, #5f3838 50%, #eee 75%, #f7f7f7 75%);
     width: 100%;
     height: 3px;
     position: relative;
      top: 80px;
          }
 .Separador-3{
    background: radial-gradient(circle at 100%, #235e70, #5f3838 50%, #eee 75%, #f7f7f7 75%);
    width: 100%;
     height: 3px;
    position: relative;
       bottom: 450px;
   }
   .Separador-4{
    background: radial-gradient(circle at 100%, #235e70, #5f3838 50%, #eee 75%, #f7f7f7 75%);
    width: 100%;
     height: 3px;
    position: relative;
      bottom: 800px;
   }
       
   @media (max-width :810px){
    .portfolio2__firstJob-title,.portfolio2__firstJob2-title,.portfolio2__firstJob3-title{
      position: relative;
      top: 100px;
      width: 100%;
      right: 80px;

    }
    .portfolio2__firstJob-firstSlide,.portfolio2__firstJob-secondSlide,.portfolio2__firstJob-threeSlide,.portfolio2__firstJob-fourSlide{
        height: 16em;
        width: 50%;
        position: relative;
      
      
    }

    .portfolio2__firstJob-2 {
        bottom: 500px;
    }
    .portfolio2__firstJob-4{
        bottom: 840px;
    }
    .portfolio2__firstJob-6{
        bottom: 1170px;
    }
   }
  
   @media (max-width:428px){

    .portfolio2__firstJob,.portfolio2__firstJob-2,.portfolio2__firstJob-3,.portfolio2__firstJob-4,.portfolio2__firstJob-5,.portfolio2__firstJob-6{
        display: inline;
        left: 50px;
       }
    .portfolio2__firstJob-title,.portfolio2__firstJob2-title,.portfolio2__firstJob3-title{
      position: relative;
      top: -30px;
      width: 80%;
      right: 8px;

    }
    .portfolio2__firstJob-firstSlide,.portfolio2__firstJob-secondSlide,
    .portfolio2__firstJob-threeSlide,.portfolio2__firstJob-fourSlide{
        height: 25em;
        width: 94%;
        right: 0px;
        left:-37px;
        bottom: 0px;
        top: 150px;
        transform:rotate(0deg); 
    }
    .portfolio2__firstJob-secondSlide{
        top: 165px;
    }

    .portfolio2__firstJob-threeSlide{
        top: 176px;
    }
    .portfolio2__firstJob-fourSlide{
        top: 188px;
    }
    .portfolio2__firstJob-2 {
  
        top: 100px;
   
    }
    .portfolio2__firstJob-3{
        top: 450px ;
    }
    .portfolio2__firstJob-4{
        top: 550px ;
    }
    .portfolio2__firstJob-5{
        top: 950px ;
    }
    .portfolio2__firstJob-6{
        top: 1050px ;
    }
    .Separador-3{
        top: 350px;
    }
    .Separador-4{
        top: 850px;
    }
   }
   @media (max-width:360px){
    .portfolio2__firstJob-firstSlide,.portfolio2__firstJob-secondSlide,
    .portfolio2__firstJob-threeSlide,.portfolio2__firstJob-fourSlide{
        height: 25em;
        width: 94%;
        right: 0px;
        left:-37px;
        bottom: 0px;
        top: 180px;
        transform:rotate(0deg); 
    }
   }
  